[user]
	name = Leopold Stenger
	email = leopold.stenger@gmx.de
	# TODO: add signingkey
	# signingkey = 0C90DD8A0EE993DF8D587AF98360E6C58AE8F3ED
[alias]
	l = log --oneline -n 20
	st = status -s
	go = checkout
# [commit]
# 	gpgsign = true
[core]
	excludesfile = ~/.gitignore
	editor = hx
	pager = delta --side-by-side
[init]
	defaultBranch = main
[pull]
	rebase = true
[merge]
	conflictStyle = zdiff3
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[rerere]
	enabled = true
[diff]
	colorMoved = default
[delta]
	syntax-theme = Coldark-Dark
	minus-style = syntax "#560808"
	minus-emph-style = syntax "#AF0101"
	plus-style = syntax "#074C07"
	plus-emph-style = syntax "#008700"
	hyperlinks = true
	pager = less --mouse
[interactive]
	diffFilter = delta --color-only
