<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!--
Restart Timemator automatically in the background whenever it is closed.

```sh
# Load Timerator.restart:
launchctl load ~/Library/LaunchAgents/timemator.restart.plist

# Show if Timerator.restart is running: 
launchctl list | grep timemator.restart

# Unload Timerator.restart: 
launchctl remove timemator.restart
```
-->

<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>timemator.restart</string>

		<key>ProgramArguments</key>
		<array>
			<string>open</string>
			<string>--hide</string>
			<string>--wait-apps</string>
			<string>-a</string>
			<string>Timemator</string>
		</array>

		<key>RunAtLoad</key>
		<true />

		<key>KeepAlive</key>
		<true />
	</dict>
</plist>
